html,body{
    text-align:center;
    margin:0 !important;
    padding:0 !important;
    max-width: 100%;
    background-image: url('img/brickwall.png');
    background-repeat: repeat;
}    

.main-title{
    background-color: #5990B4;
    max-width: 100%;
}

#down-triangle{
    display: block;
    position: relative;
    height: 35px;
    width: 100.1%;
    background: #5990B4;
    overflow: hidden;
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);       
    -o-transform: rotate(180deg);        
    -ms-transform: rotate(180deg);      
    transform: rotate(180deg);
}

#down-triangle:after {
    display:block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -400px;
    content: '';
    background-image: url('img/brickwall.png');
    width: 800px;
    height: 0;
    border: 400px solid transparent;
    border-top: none;
    border-bottom: 38px solid #5990B4;
    box-sizing: border-box;
}

#queshuns{
    display:block;
    margin:auto;
}

.heading-text{
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #233948;
    border-top: #f89335 1px solid;
    border-bottom: #f89335 1px solid;
    padding-top:10px;
    padding-bottom: 10px;
    line-height: 19px;
}

.heading-text a{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #233948;
    line-height: 19px;
    font-weight:700;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.heading-text a:hover{
    opacity:.8;
    text-decoration:none;
    color: #C9DBE7;
}

#bold{
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight:700;
    line-height: 21px;
    color:#233948;
}

.contact-buttons{
	width: 100%;
    text-align: center !important;
    display: inline;
    float:right;
}	

.contact-buttons a:hover{
    text-decoration:none;
}

.contact-buttons ul{
	text-align: center;
	list-style-type: none;
    margin-left: 0 !important;
    margin-bottom: 0px !important;
}

.contact-buttons ul li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

i.ss-icon{
	color: #233948;
	font-size: 30px;
	text-align: center;
    line-height: 45px;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
}

.ss-icon:hover{
    text-decoration: none !important;
    color: #C9DBE7;
    opacity:.8;
}

#website a{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #233948;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
}

#website a:hover{
    text-decoration: none;
    color: #f89335;
    opacity:.8;
}

#footer{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 8px;
    color: #233948;
    margin: 0 !important;
    padding-bottom: 2px;
}

#footer a{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #233948;
    font-weight:700;
}

#footer a:hover{
    text-decoration: none;
    color: #C9DBE7;
    opacity:.8;
}

.queshuns-content{
    padding-bottom: 80px;
}

.post{
    background-color: white;
    margin-top: 20px;
    border: #f89335 1px solid;
    -webkit-box-shadow: 0 8px 6px -6px #233948;
    -moz-box-shadow: 0 8px 6px -6px #233948;
    box-shadow: 0 8px 6px -6px #233948;
    text-align: left;
}

.post-text{
    margin-left: 0!important;
    padding:15px
}

a.title{
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight:700;
    color: #233948;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    float: right;
    padding-top: 30px;
}

a.title:hover{
    color:#f89335;
    text-decoration: none;
}

a.tweet{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    float:left;
    color: #5990B4;
    margin-bottom: 0;
}

a.tweet:hover{
    opacity: .8;
    text-decoration: none;
    color: #233948;
}



.post-image{
    padding:20px;
    float: left;
    text-align:left;
}

.post-image img{
    max-width: 100%;
}


/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {     
    html,body{
        margin-left:25px !important;
        margin-right:25px !important;
    }  
    .heading-text{
        margin-right: 40px;
        margin-left: 40px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    html,body{
        margin-left:20px !important;
        margin-right:20px !important;
    }  
    .heading-text{
        margin-right: 30px;
        margin-left: 30px;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    html,body{
        margin-left:10px !important;
        margin-right:10px !important;
    }
    .heading-text{
        margin-right: 20px;
        margin-left: 20px;
    }

    .post-text {
        position: relative;
    }

    .title {
        position: absolute;
        bottom: 100%;
        right: 20px;
        height: 50px;
    }

    a.tweet {
        padding-bottom: 5px;
    }

}
