html,body{
    text-align:center;
    margin:0 !important;
    padding:0 !important;
    max-width: 100%;
    background-image: url('img/brickwall.png');
    background-repeat: repeat;
}    

.main-title{
    background-color: #5990B4;
}

#down-triangle{
    display: inline-block;
    position: relative;
    height: 35px;
    width: 100%;
    background: #5990B4;
    overflow: hidden;
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);       
    -o-transform: rotate(180deg);        
    -ms-transform: rotate(180deg);      
    transform: rotate(180deg);
}

#down-triangle:after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -250px;
    content: '';
    background-image: url('img/brickwall.png');
    width: 500px;
    height: 0;
    border: 250px solid transparent;
    border-top: none;
    border-bottom: 38px solid #5990B4;
    box-sizing: border-box;
}

#queshuns{
    display:block;
    margin:auto;
    height:150px;
}

.heading-text{
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: white;
    border-top: white 1px solid;
    border-bottom: white 1px solid;
    padding-top:15px;
    padding-bottom: 15px;
    line-height: 21px;
}

.heading-text a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 21px;
    font-weight:700;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.heading-text a:hover{
    opacity:.8;
    text-decoration:none;
}

#bold{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight:700;
    line-height: 21px;
}

.contact-buttons a{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.contact-buttons{
	width: 100%;
    text-align: center !important;
    display: inline;
    float:right;
}	

.contact-buttons ul{
	text-align: center;
	list-style-type: none;
    margin-left: 0 !important;
    padding-top: 8px;
}

.contact-buttons ul li{
    display: inline;
    padding: 5px;
}

i.ss-icon{
	color: white;
	font-size: 25px;
	text-align: center;
    line-height:35px;
}

.contact-buttons a:hover{
    text-decoration:none;
    opacity:.8;
}

#website a{
    font-family: 'Pacifico', cursive;
    font-size: 250%;
    color: white;
    line-height: 16px;
}

#website a:hover{
    text-decoration: none;
    opacity:.8;
}

#footer{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    line-height: 10px;
    color: white;
    margin: 0 !important;
}

#footer a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: white;
    font-weight:700;
}

#footer a:hover{
    text-decoration: none;
    opacity:.8;
}

.queshuns-content{
    padding-bottom: 80px;
}

.post{
    background-color: #C9DBE7;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-align:left !important;
    color: #5990B4;
    margin-top: 15px;
}

.title{
    padding: 15px;
}

.post a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    line-height: 31px;
    font-weight:700;
    color: #5990B4;
    -webkit-transition: all .5s ease;
	 -moz-transition: all .5s ease;
	 -o-transition: all .5s ease;
	 -ms-transition: all .5s ease;
	 transition: all .5s ease;
}

.post a:hover{
    opacity: .8;
}

.post img{
    padding:15px;
    float: left;
    height:50px; 
    width:50px; 
    display:block;
}


/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {     
    html,body{
        margin-left:20px !important;
        margin-right:20px !important;
    }  
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    html,body{
        margin-left:20px !important;
        margin-right:20px !important;
    }  
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    html,body{
        margin-left:20px !important;
        margin-right:20px !important;
    }  
}


